*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#2196f3,#ff4685);
}
.container{
    position: relative;
    padding: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 8px 35px rgba(0,0,0,0.25);
}
.inputbox{
    position: relative;
    width: 350px;
}
.inputbox input{
    position: relative;
    padding: 8px 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    z-index: 2;
}
.inputbox span{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    pointer-events: none; /*bujhi nai*/
    font-size: 1em;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: #333;
}
.inputbox input:valid ~ span, 
.inputbox input:focus ~ span{
    font-size: 0.85em;
    transform: translateY(-32px);
}
/*class dhorar por input valid then focus agula bujhi nai*/
.inputbox i{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(45deg,#2196f3,#ff4685);
    transition: 0.5s;
    z-index: 1; /*bujhi nai*/
    border-radius: 4px;
    pointer-events: none;
}
.inputbox input:valid ~ i, 
.inputbox input:focus ~ i{
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
    /*inset bujhi nai*/
}